body {
    margin: 0;
    padding: 0;
}

.carousel-container {
    max-width: 800px; /* Defina o tamanho máximo do carrossel */
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    height: auto;
}