body {
    margin: 0;
    padding: 0;
}

.news-container {
    max-width: 800px; 
    margin: 0 auto;
}

.news-list {
    list-style-type: none;
    padding: 0;
}

.news-list li {
    margin-bottom: 20px;
}

.news-title {
    margin: 0;
}

.news-summary {
    margin-top: 5px;
}
.news-container img{
    max-width: 50%;
    max-height: 50%;
    
}